<div class="container">
    <div class="fh row align-items-center justify-content-center">
        <div class="p-2 col-lg-6 col-md-12 form-container shadow-lg" id="loginContainer"> 
            <div class="p-2 h-100 row justify-content-center align-items-center">
                <div class="text-center">
                    <!--Form Logo-->
                    <img src="/assets/images/wmk_logo.svg" class="super-logo" alt="Where's My Keys logo">
                </div>
                <div class="align-self-start">
                    <form #signin_form="ngForm" (ngSubmit)="onSubmit(signin_form)">
                        <div class="mb-3">
                            <!--Email Address Input-->
                            <label class="form-label" for="email">Email Address</label>
                            <div class="d-flex align-items-center">
                                <i class="icon fa-regular fa-envelope"></i>
                                <input type="email" id="email" [(ngModel)]="login.email" name="email" class="form-control icon-field" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="mb-3">
                            <!--Password Input-->
                            <label class="form-label" for="password">Password</label>
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-key icon"></i>
                                <input type="password" id="password" [(ngModel)]="login.password" name="password" class="form-control icon-field" placeholder="Password">
                            </div>
                        </div>
                        <div class="d-grid">
                            <!--Submit button-->
                            <input class="btn btn-primary" type="submit" value="Sign In">
                            <span class="form-text text-center">Need an account? <a routerLink="../sign-up" >Sign up</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>       
  </div>  