<nav-bar></nav-bar>
<div class="container">
    <div class="fh row align-items-center justify-content-center">
        <div class="form-container">
            <!--container that will hold the dynamically created device items-->
            <div class = "device-container container-md align-items-center clearfix">
            <!--dynamically added items here-->
            <!--

                This is basically how the javascript should add things to the container using bootstrap's grid system
                each row is another row of devices
                each row can hold four devices
                each device is a col
                after four cols in a row, another row starts.

                <div class="row">
                <div class="device bg-primary col"></div>
                <div class="device bg-primary col"></div>
                <div class="device bg-primary col"></div>
                <div class="device bg-primary col"></div>
            </div>

            -->
        
            </div>
        </div>
    </div>
</div>